.map-container {
    opacity: 0;
    animation: smoothAppear 1.5s forwards;
    animation-delay: 0.5s;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;

    .map-header {
        color: midnightblue;
        font-weight: bold;
        font-size: 2rem;
    }
}