body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar.hidden {
    width: 50px;
}

.toggle-button {
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    text-align: center;
    width: 40px;
    position: absolute; /* Position the button absolutely */
}

.toggle-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 60px; /* Add some space between the button and content */
    margin-bottom: 60px; /* Space for the logout button */
}

.logout-wrapper {
    margin-top: auto;
}

.logout-button {
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    width: 100%;
}

.logout-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
